<?php
/**
 * Local Configuration Override
 */

return array(
    'doctrine' => array(
        'connection' => array(
            'orm_default' => array(
                'params' => array(
                    'user'     => '',
                    'password' => '',
                    'dbname'   => '',
                )
            )
        )
    )
);